.testMe { 
	color: red;
}

.background {
  background-color: #87CEEB;
  color: #FFFFFF;
  background-size: cover;
  border: 1px solid black;
}

.text {
	color: black;
}

.table {
	border: 5px solid #000000;
	max-height: 200px;
	overflowY: auto;
	display: block;
	overflow: scroll;
}

.headerBackground {
	color: black;
	background-size: cover;
}

.fixed {
	position: fixed;
	bottom: 73px;
}

.center {
	margin-left: 10px;
	color: black;
}
