.testMe { 
	color: red;
}

.background {
  background-color: #87CEEB;
  color: #FFFFFF;
  background-size: cover;
  border: 1px solid black;
  max-height: 800px;
}

.newBackground {
  background-color: #87CEEB;
  color: #FFFFFF;
  background-size: cover;
  border: 1px solid black;
  
}

.text {
	color: black;
}

.myTable {
	border: 5px solid #000000;
	max-height: 300px;
	overflowY: auto;
	display: block;
	overflow: auto;
	width: 100%;
	
}

.newTable {
	border: 1px solid #000000;
	max-height: 800px;
	overflowY: auto;
	display: block;
	overflow: auto;
	width: 80%;
}

.antTable {
	border: none;
	max-height: 200px;
	width: 18%;
}

.headerBackground {
	color: black;
	background-size: cover;
}

.fixed {
	position: fixed;
	bottom: 73px;
}

.center {
	margin-left: 10px;
	color: black;
}

.newAbout {
	color: black;
	max-height: 480px;
	overflowY: auto;
	display: block;
	overflow: auto;
	width: 95%;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link {
	color: black;
	text-decoration: underline;
	font-weight: bold;
}

.tableForTimes {
	border: none;
	max-height: 500px;
	overflowY: auto;
	display: block;
	overflow: auto;
	width: 25%;
}