.testMe {
  color: red;
}

.background {
  background-color: #87CEEB;
  color: #FFFFFF;
  background-size: cover;
  border: 1px solid black;
  height: 85vh;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.newBackground {
  background-color: #87CEEB;
  color: #FFFFFF;
  background-size: cover;
  border: 1px solid black;
}

.text {
  color: black;
}

.myTable {
  border: 5px solid #000000;
  max-height: 300px;
  overflowY: auto;
  display: block;
  overflow: auto;
  width: 100%;
}

.newTable {
  border: 1px solid #000000;
  max-height: 800px;
  overflowY: auto;
  display: block;
  overflow: auto;
  width: 80%;
}

.antTable {
  border: none;
  max-height: 200px;
  width: 18%;
}

.headerBackground {
  color: black;
  background-size: cover;
}

.fixed {
  position: fixed;
  bottom: 73px;
}

.center {
  margin-left: 10px;
  color: black;
}

.newAbout {
  color: black;
  max-height: 500px;
  overflowY: auto;
  display: block;
  overflow: auto;
  width: 95%;
}

.centered {
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

.tableForTimes {
  border: none;
  max-height: 500px;
  overflowY: auto;
  display: block;
  overflow: auto;
  width: 40%;
}

.newTableForClass {
  border: 1px solid #000000;
  max-height: 300px;
  overflowY: auto;
  display: block;
  overflow: auto;
  width: 80%;
}

.button {
  background-color: #87CEEB;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 4px solid #000000;
}

.buttonCircle {
  border-radius: 4px;
}
