.testMe {
  color: red;
}

.background {
  background-color: #87CEEB;
  color: #FFFFFF;
  background-size: cover;
  border: 1px solid black;
}

.text {
  color: black;
}

.myTable {
  border: 5px solid #000000;
  max-height: 400px;
  overflowY: auto;
  display: block;
  overflow: scroll;
  width: 100%;
}

.antTable {
  border: none;
  max-height: 200px;
  width: 18%;
}

.headerBackground {
  color: black;
  background-size: cover;
}

.fixed {
  position: fixed;
  bottom: 73px;
}

.center {
  margin-left: 10px;
  color: black;
}
